.bb-app {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "main";
	grid-gap: var(--bb-grid-unit);
	height: 100%;
	padding-top: calc( var(--bb-grid-unit) * 2 + 36px);
}

@media (min-width: 800px) {
	.bb-app {
		padding-top: 0;
		grid-template-columns: var(--bb-sidebar-width) 1fr;
		grid-template-areas: "sidebar main";
	}
}

.bb-app__sidebar {
	display: none;
	grid-area: sidebar;
	overflow-y: auto;
	background: var(--bb-sidebar-color);
	padding: var(--bb-grid-unit);
}

@media (min-width: 800px) {
	.bb-app__sidebar {
		display: block;
	}
}


.bb-app__main {
	grid-area: main;
	overflow-y: auto;
	padding: var(--bb-grid-unit);
}
