.bb-route-block {
	position: relative;
	margin: auto;
	max-width: 1000px;
	margin-bottom: var( --bb-grid-unit );
}

.bb-route-block__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bb-route-block__theme-switcher .components-base-control__field {
	display: flex;
	align-items: center;
}

.bb-route-block__theme-switcher .components-base-control__label {
	margin: 0 !important;
	margin-right: calc( var( --bb-grid-unit ) / 2 ) !important;
}

.bb-route-block .components-tab-panel__tabs {
	clear: both;
	margin-bottom: var( --bb-grid-unit );
	background: #f1f1f1;
}

.bb-route-block__card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var( --bb-grid-unit );
}

.bb-route-block__icon {
	display: flex;
	align-items: center;
}

.bb-route-block__icon .block-editor-block-icon {
	display: flex;
	align-items: center;
}

.bb-route-block__attributes {
	list-style: none;
	padding: 0;
	margin: 0;
}

.bb-route-block__example {
	position: relative;
	max-width: 100%;
	box-sizing: border-box;
}

.bb-route-block__example * {
	box-sizing: inherit;
}

.bb-route-block__markup {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.bb-route-block .block-editor-block-preview__container {
	border-radius: var( --bb-border-radius );
	border: 1px solid #ccc;
}
