.bb-route-block {
	position: relative;
	margin: auto;
	max-width: 1000px;
	margin-bottom: var( --bb-grid-unit );
}

.bb-route-block__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bb-route-block__theme-switcher .components-base-control__field {
	display: flex;
	align-items: center;
}

.bb-route-block__theme-switcher .components-base-control__label {
	margin: 0 !important;
	margin-right: calc( var( --bb-grid-unit ) / 2 ) !important;
}

.bb-route-block .components-button-group {
	clear: both;
	margin-bottom: calc( var( --bb-grid-unit ) * 2 );
	background: #f1f1f1;
}

.bb-route-block .components-button-group a {
	text-decoration: none;
}